@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: #e9edc9;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 1em;
    background: red;
}

body::-webkit-scrollbar-track {
    background: #e9edc9;
    box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background: #ccd5ae;
    border: 1px solid rgb(57, 56, 56);
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255);
}

.header {
    position: fixed;
    width: 100vw;
    height: 100px;
    padding: 0 100px;
    background: #dad7cd;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto Slab', serif;
    font-size: 45px;
    font-weight: 600;
    z-index: 3;
}

.header-wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.main {
    display: flex;
    width: 100vw;
    padding-top: 100px;
    height: calc(100vh - 100px);
}

.menu {
    position: fixed;
    min-width: 350px;
    height: 100vh;
    background: #ccd5ae;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto Slab', serif;
    z-index: 2;
}

.details-title {
    font-size: 38px;
    padding: 20px;
}

.details {
    font-size: 20px;
    padding: 0 20px;
}

.details > div {
    padding-bottom: 10px;
}

.library {
    position: absolute;
    /* width: 100vw; */
    flex-grow: 1;
    min-height: calc(100vh - 100px);
    background: #e9edc9;
}

.grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 50px;
    padding: 70px 150px;
    width: calc(100vw - 350px);
    min-height: calc(100vh - 100px);
    left: 350px;
}

.book {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    height: 350px;
    border-radius: 10px;
    font-size: 23px;
    padding: 10px 25px;
    gap: 15px;
    background: #ccd5ae;
    letter-spacing: 0.2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255);
    cursor: default;
}

.name {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}

.status, .delete {
    width: 100%;
    padding: 8px;
    text-align: center;
    font-size: 24px;
    border-radius: 2px;
    transform: scale(0.9);
    cursor: pointer;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5), -3px -3px 6px rgba(255, 255, 255, 0.7);
    user-select: none;
}

.status.tbr {
    background: #b5838d;
}

.status {
    color: #fff;
    background: #52796f;
    margin-top: 20px;
}

.delete {
    background: #cad2c5;
}


.add-book-btn {
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    padding: 10px 20px;
    background: #cad2c5;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5), -3px -3px 6px rgba(255, 255, 255, 0.7);
}

.add-book-btn::before {
    content: '+';
    padding-right: 10px;
    font-size: 30px;
}

.btn-inner-shadow {
    box-shadow: inset 5px 5px 2px rgba(0, 0, 0, 0.5), inset -3px -3px 2px rgba(255, 255, 255);
}
.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.overlay .popup {
    position: fixed;
    width: 28em;
    height: 37em;
    background: linear-gradient(57deg, #40916c, #1b4332);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -3px -3px 10px rgba(255, 255, 255, 0.2);
}

.overlay .form {
    position: relative;
    padding: 2.5em 3em;
    /* font-family: 'Roboto Slab', serif; */
}

.overlay .form .close-window {
    cursor: pointer;
}

.overlay .form .close-window::before,
.overlay .form .close-window::after {
    content: '';
    position: absolute;
    right: 2em;
    top: 1.5em;
    width: 2px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.overlay .form .close-window::after {
    transform: rotate(-45deg);
}

.overlay .form .form-title .title {
    text-transform: uppercase;
    /* font-family: 'Roboto Slab', serif; */
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
}

.overlay .form .form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    gap: 10px;
}

.overlay .popup .form-content {
    font-size: 23px;
    padding-top: 35px;
}

.category {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 5px;
}

.category input[type="text"],
.category input[type="number"] {
    font-size: 19px;
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    box-shadow: inset 4px 4px 3px rgba(0, 0, 0, 0.6), inset -4px -4px 2px rgba(255, 255, 255);
    background: #ccd5ae;
    font-family: 'Roboto Slab', serif;
}

.category input:-webkit-autofill,
.category input:-webkit-autofill:hover,
.category input:-webkit-autofill:focus {
    background: #ccd5ae;
    font-size: 19px;
}

.category input[type="text"]:focus,
.form-content input[type="number"]:focus {
    border: none;
    outline: 3px solid #172b26;
}

.form-content .check {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

.form-content input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: #ccd5ae;
    box-shadow: inset 3px 3px 1px rgba(0, 0, 0, 0.6), inset -3px -3px 1px rgba(255, 255, 255);
}

.form-content input[type="checkbox"]::before {
    content: '';
    width: 13px;
    height: 13px;
    background: #172b26;
    transform: scale(0);
    transition: transform 0.3s;
}

.form-content input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.form .form-button {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    border-radius: 7px;
    font-size: 19px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -3px -3px 5px rgba(255, 255, 255, 0.2);
}